[mysqld]
character-set-server = utf8mb4
datadir = /var/lib/mysql
socket = /var/run/mysqld/mysqld.sock
log-error = /var/log/mysql/error.log
default-storage-engine = InnoDB
innodb_buffer_pool_size = 256M
max_connections = 200
query_cache_size = 16M
query_cache_type = 0
innodb_file_format = Barracuda
innodb_file_per_table = 1
default-time-zone = '+00:00'

[client]
default-character-set = utf8mb4
